// COLORS
$color-brand: #ffa257;
$color-brand--active: #ff913d;
$color-brand--washed: #ffb478;

$color-text: #6A7C86;
$color-text--active: #788891;
$color-text--washed: #E8EBEC;

$color-accent: #F35418;
$color-accent--active: #F4642E;
$color-accent--washed: #FDE5DC;

$color-brandLight: #007CC0;
$color-brandLight--active: #1988C6;
$color-brandLight--washed: #D9EBF5;

$color-bg: #012132;
$color-bg--active: #1A4D68;
$color-bg--washed: #D9E1E6;

$color-light: #fff;
$color-shadow: #576973;

$color-text: #fff8dc;